/*---------------- BLOQUE ------------------*/
.yellowRectangle{   /* Bloque amarillo blureado */
    display: block;
    
    width: 886px;
    height: 536px;

    position:absolute;

    top:50%;
    left:50%;
    margin-left: -450px;
    margin-top: -300px;

    background-color: #FFFFE6;
    filter: blur(25px);
}   
.textYellowRectangle{ /* El texto que acompaña el bloque blureado*/
    display: block;
    
    width: 876px;
    height: 526px;

    position:absolute;

    top:50%;
    left:50%;
    margin-left: -450px;
    margin-top: -300px;
    /* Buscar manera de crear un bordado*/
    border: dashed black;
}
/*---------------- IMAGEN ------------------*/

.imagenPerfil{
    position: relative;
    top:50%;
    left:50%;
    margin-left: -82px;
    margin-top: -141px;

    height: 162px;
    width: 168px;

    border-radius: 11px;

    overflow: hidden;
}

.imagenPerfil img {
    position: relative;
    left: -25;

    height: 162px;


}

/*---------------- TEXTO ------------------*/
.texto{
    position: relative;
    top:50%;
    left:50%;
    margin-left: -213px;
    margin-top: 23px;


    height: 65px;
    width: 430px;
    
    border-radius: nullpx;
}
.nombre{
    font-family: Karma;
    font-size: 32px;
    font-weight: 400;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: center;
    color: black;

    margin: 0px 0;   
}
.carrera{
    font-family: Karma;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: black;

    margin: 0px 0;        
}