body{
    background-color: white;
}
/*---------------- BLOQUE ------------------*/

.yellowRectangle{   /* Bloque amarillo blureado */
    display: block;
    
    width: 886px;
    height: 536px;

    position:absolute;

    top:50%;
    left:50%;
    margin-left: -450px;
    margin-top: -300px;

    background-color: #FFFFE6;
    filter: blur(25px);

} 

.bluredBorder{
    display: block;
    
    width: 886px;
    height: 536px;

    position:absolute;

    top:50%;
    left:50%;
    margin-left: -450px;
    margin-top: -300px;

    border: solid black;
    filter: blur(15px);
}

.textYellowRectangle{ /* El texto que acompaña el bloque blureado*/
    display: block;
    
    width: 876px;
    height: 526px;

    position:absolute;

    top:50%;
    left:50%;
    margin-left: -450px;
    margin-top: -300px;
}
/*---------------- IMAGEN ------------------*/

.imagenPerfil{
    position: relative;
    top:50%;
    left:50%;
    margin-left: -91px;
    margin-top: -141px;

    height: 162px;
    width: 168px;

    border-radius: 11px;

    overflow: hidden;
    border: 0.5px solid black;
}

.imagenPerfil img {
    position: relative;
    left: -25;

    height: 162px;
}

/*---------------- TEXTO ------------------*/

.texto{
    position: relative;
    top:50%;
    left:50%;
    margin-left: -222px;
    margin-top: 23px;


    height: 65px;
    width: 430px;
    
    border-radius: nullpx;
}

.nombre{
    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: center;
    color: black;

    margin: 0px 0;   
}

.carrera{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: black;

    margin: 0px 0;        
}
/*---------------- BOTTONES ------------------*/
button{
    display: block;
    position: absolute;

    width: 42;
    height: 42;

    border-radius: 50%;
    border: 0;
    background-color: white;

    box-shadow: 0px 5px 5px 0px rgba(0, 0,  0, 0.25) inset;
    transition: 0.6s;
}
button:hover{
    box-shadow: 0px 5px 5px 0px rgba(0, 0,  0, 0.25);
    cursor: pointer;
}
button img{
    top: 25%;
    left: 25%;
}

.botonYo{       /*     BOTTON YO     */
    top: 385px;
    left: 330px;
}
.botonYo img{
    position: absolute;

    top: 11px;
    left: 12px;

    width: 19px;
    height: 21px;
}
.iconoYo{
    transition: 0.1s;
}
button:hover .iconoYo{
    opacity: 0;
}
.botonYo:hover{
    background-color: #CFE8FF;
}
.academico{     /*    BOTTON ACADEMICO      */
    top: 385px;
    left: 386px;
}
.academico img{
    position: absolute;

    top: 12.54px;
    left: 10.49px;

    width: 22;
    height: 18;
}
.iconoAca{
    transition: 0.1s;
}
button:hover .iconoAca{
    opacity: 0;
}
.academico:hover{
    background-color: #B0B391;
}

.hobbies{       /*    BOTTON HOBBIES      */
    top: 385px;
    left: 443px;
}
.hobbies img{
    position: absolute;

    top: 14.59px;
    left: 12px;

    width: 18px;
    height: 15px;
}
.iconoHbbs{
    transition: 0.1s;
}
button:hover .iconoHbbs{
    opacity: 0;
}
.hobbies:hover{
    background-color: #FFD1CF;
}

.contacto{      /*    BOTTON CONTACTO      */
    top: 385px;
    left: 500px;
}
.contacto img{
    position: absolute;

    top: 12px;
    left: 12px;

    width: 18px;
    height: 18px;
}
.iconoCnt{
    transition: 0.1s;
}
button:hover .iconoCnt{
    opacity: 0;
}
.contacto:hover{
    background-color: #B39B9A;
}

.tituloSubpag{      /* STANDERES DE SUB PAGINAS (backbutton y titulo)*/
    position: absolute;
    top: 91px;
    left: 99px;
    
    width: 325px;
    height: 53px;

    font-size: 48px;
    font-weight: 600;
    line-height: 74px;
    letter-spacing: 0em;
    text-align: center;
    
}
.backButton{
    position: absolute;
    top: 32px;
    left: 32px;

    width: 53px;
    height: 53px;
}
.backButton img{
    position: absolute;
    top: 16px;
    left: 12.7px; 

    width: 28.71px;
    height: 20.98px;
}

.textoYo{               /*     Pagina Personal     */
    position: absolute;
    height: 238px;
    width: 637px;
    left: 136px;
    top: 186px;
    border-radius: nullpx;

    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: justified;
}

.parrafoAcademico{      /*     Pagina Academico     */
    display: block;
    width: 644px;
    height: 208px;

    position: absolute;
    left: 136px;
    top: 186px;

    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: justify;

}
.bottonProyectoP{   /*    BOTTON PROYECTO PYTHON      */
    display: block;
    width: 151px;
    height: 61px;

    left: 243px;
    top: 428px;

    border-radius: 14px;
    
    background-color: #0C0C15;
}
.bottonProyectoP h6{
    display: inline-block;
    margin-top: 23px;
    margin-left: -43px;

    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;


    color: white;

}
.bottonProyectoP img{
    display: block;
    width: 36.77px;
    height: 33.73px;

    position: absolute;
    top: 13.87px;
    left: 106.12px;
}

.bottonProyectoJ{   /*    BOTTON PROYECTO JAVA      */
    display: block;
    width: 151px;
    height: 61px;

    left: 480px;
    top: 428px;

    border-radius: 14px;
    
    background-color: #0C0C15;
}
.bottonProyectoJ h6{
    display: inline-block;
    margin-top: 23px;
    margin-left: -50px;

    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;


    color: white;

}
.bottonProyectoJ img{
    display: block;
    width: 36.77px;
    height: 33.73px;

    position: absolute;
    top: 13.87px;
    left: 99.12px;
}
.listaHobbies{      /*       PAGINA HOBBIES       */
    position: absolute;
    top: 183px;
    left: 172px;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    text-align: justify;

}
.listaHobbies br{
    content: "";
    margin: 12px;
    display: block;
    font-size: 24%;
}
.notaMusical{
    position: absolute;
    top: 206px;
    left: 134px;

    width: 24px;
    height: 24px;
}
.bajo{
    position: absolute;
    top: 246px;
    left: 134px;

    width: 24px;
    height: 24px;
}
.guitarra{
    position: absolute;
    top: 286px;
    left: 134px;

    width: 24px;
    height: 24px;
}
.laptop{
    position: absolute;
    top: 326px;
    left: 134px;

    width: 24px;
    height: 24px;
}
.rubioLaptop{
    position: absolute;
    top: 366px;
    left: 134px;

    width: 24px;
    height: 24px;
}
.videogame{
    position: absolute;
    top: 406px;
    left: 134px;

    width: 24px;
    height: 24px;
}
.avion{
    position: absolute;
    top: 446px;
    left: 134px;

    width: 24px;
    height: 24px;
}
.imagenInglaterra{      /*     FOTOS HOBBIES     */
    position: absolute;
    top: 85px;
    left: 620px;

    height: 170px;
    width: 154px;

    overflow: hidden;
    border-radius: 12px;
}
.imagenInglaterra img{
    height: 170px;
    width: auto;
    left: -10px;
}
.imagenLolla{
    position: absolute;
    top: 130px;
    left: 438px;

    height: 268px;
    width: 223px;

    overflow: hidden;
    border-radius: 12px;
}
.imagenLolla img{
    height: 294px;
    width: auto;
    position: absolute;
    left: -40px;
    top: -20px;
}
.imagenBajo{
    position: absolute;
    top: 280px;
    left: 620px;

    height: 171px;
    width: 145px;

    overflow: hidden;
    border-radius: 12px;
}
.imagenBajo img{
    height: 174px;
    width: 100%;
    left: -10px;
}
