/*----- PAGINA CONTACTO -----*/
button{
    position: absolute;
    height: 75px;
    width: 190px;
    border-radius: 0;
    box-shadow: none;

    padding: 0;
    transition: 0.3s;
}
button img{
    position: absolute;
    left: 10px;
}
button p{
    opacity: 0;
}

.botonLinkedin{             /*      LINKEDIN      */
    top: 225px;
    left: 103px;
}
.botonLinkedin img{
    top: 16px;
}
.botonLinkedin h6{
    position: absolute;
    top: 25%;
    left: 55px;

    width: 125px ; 
    height: 34px;
    margin: 0;

    /*font-family: Karma;*/
    font-size: 32px;
    font-weight: 400;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: left;
}
                        /*      Linkedin HOVER  */
.botonLinkedin:hover{
    background-color: #0E76A8;
}
.botonLinkedin:hover h6{
    position: absolute;
    height: 19px;
    width: 125px;
    left: 36px;
    top: -4px;
    border-radius: nullpx;

    font-size: 20px;

    color: white;
    text-decoration-line: black;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.botonGithub{               /*      GITHUB      */
    top: 225px;
    left: 343px;
}
.botonGithub img{
    top: 17px;
}
.botonGithub h6{
    position: absolute;
    top: 25%;
    left: 68px;

    width: 104px ; 
    height: 34px;
    margin: 0;

    /*font-family: Karma;*/
    font-size: 32px;
    font-weight: 400;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: left;
}
.botonGithub:hover{         /*    GitHub Hover      */
    background-color: #191717;
}
.botonGithub:hover img{
    position: absolute;

}
.botonGithub:hover h6{

}

.botonInstagram{            /*      INSTAGRAM   */
    top: 225px;
    left: 583px;
}
.botonInstagram img{
    top: 20.45px;
}
.botonInstagram h6{
    position: absolute;
    top: 25%;
    left: 53px;
    margin: 0;

    width: 131px;
    height: 32px;

    font-size: 29px;
    font-weight: 400;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: left;
}
.botonInstagram:hover{      /*    Hover Instagram      */
    background: rgb(245,133,41);
    background: linear-gradient(90deg, rgba(245,133,41,1) 0%, rgba(254,218,119,1) 25%, rgba(221,42,123,1) 50%, rgba(129,52,175,1) 75%, rgba(81,91,212,1) 100%);
}
.botonInstagram:hover img{
    
}
.botonInstagram:hover h6{
    
}

.botonTwitter{              /*      TWITTER      */
    top: 350px;
    left: 103px;
}
.botonTwitter img{
    top: 21.71px;
}
.botonTwitter h6{
    position: absolute;
    top: 25%;
    left: 63px;
    margin: 0%;

    font-size: 32px;
    font-weight: 400;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: left;
}
.botonTwitter:hover{            /*      Twitter Hover         */
    background-color: #00ACEE;
}
.botonTwitter:hover img{

}
.botonTwitter:hover h6{

}

.botonReddit{               /*      REDDIT      */
    top: 350px;
    left: 343px;
}
.botonReddit img{
    top: 20.06px;
}
.botonReddit h6{
    position: absolute;
    top: 25%;
    left: 75px;
    margin: 0%;

    font-size: 32px;
    font-weight: 400;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: left;
}
.botonReddit:hover{         /*       Reddit Hover        */
    background-color: #FF4500;
}
.botonReddit:hover img{

}
.botonReddit:hover h6{

}
    
.botonGmail{                /*      GMAIL      */
    top: 350px;
    left: 583px;
}
.botonGmail img{
    top: 23.1px;
}
.botonGmail h6{
    position: absolute;
    top: 25%;
    left: 71px;
    margin: 0%;

    font-size: 32px;
    font-weight: 400;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: left;
}
.botonGmail:hover{      /*     Gmail Hover         */
    background-color: #B23121;
}
.botonGmail:hover img{

}
.botonGmail:hover h6{

}