.textoYo{              
    position: absolute;
    height: 238px;
    width: 637px;
    left: 136px;
    top: 186px;
    border-radius: nullpx;

    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: justified;
}